<html>
  <head>
    <meta http-equiv="Content-Type" content="kadai/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <% result = connection.exec("SELECT * FROM crops WHERE give_for != '自家消費';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "length：#{record["length"]} weight：#{record["weight"]} quality：#{record["quality"]} give_for：#{record["give_for"]} date：#{record["date"]}" %>
    <% end %>
    <form action="kadai_1.cgi" method="POST">
       下記のボタンを押すと、譲渡先が自家消費ではないもののgoyaの情報を載せたページが表示されます<br><br>
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
    <% result_2 = connection.exec("SELECT * FROM crops WHERE quality = 'FALSE';") %>
    <% data_2 = [] %>
    <% result_2.each do |record_2| %>
      <%  data_2 << "length：#{record_2["length"]} weight：#{record_2["weight"]} quality：#{record_2["quality"]} give_for：#{record_2["give_for"]} date：#{record_2["date"]}" %>
    <% end %>
    <form action="kadai_2.cgi" method="POST">
       下記のボタンを押すと、品質が悪いもの（false）のgoyaの情報を載せたページが表示されます<br><br>
      <input type="text" name="goya_2" value="<%= data_2.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
